<h1> Planter </h1>

<%= render @planter %>

<% content_for :admin_options do %>
	<%= link_to "Edit", edit_planter_path(@planter) %> <%= link_to "Delete", planter_path(@planter), method: :delete %> 
<% end %>
