<h1> Address </h1>

<%= render @address %>

<% content_for :details do %> 
	<h3> Spaces </h3>
	<ul>
		<% @address.spaces.each do |space| %>
			<li> <%= link_to space.name, user_space_path(current_user, space) %> </li>
		<% end %>
	</ul>
<% end %> 
